<div class="geToolbarContainer" style="left: 0px; right: 0px; top: 64px; height: 38px; ">
	<div class="geToolbar" style="padding-left: 16px; ">
		<a class="geLabel" title="View (Space+Drag to pan)"
			style="white-space: nowrap; overflow: hidden; position: relative; width: 28px; ">
			<div class="geSprite geSprite-formatpanel" style="margin-left:-4px; margin-top:-3px; ">
			</div>
			<img border="0" style="position: absolute; right: 4px; top: 5px; left: 24px; "
        src="https://www.draw.io/images/expanded.gif"
        valign="middle">
    </a>
			<div class="geSeparator">
			</div>
			<a class="geLabel" title="Zoom (Alt+Mousewheel)"
				style="white-space: nowrap; position: relative; overflow: hidden; width: 50px; ">100%
				<img border="0" style="position: absolute; right: 1px; top: 5px; "
        src="https://www.draw.io/images/expanded.gif"
        valign="middle"></a>
				<div class="geSeparator">
				</div>
				<a class="geButton" title="Zoom In (Ctrl + (Numpad) / Alt+Mousewheel)">
					<div class="geSprite geSprite-zoomin">
					</div>
				</a>
				<a class="geButton" title="Zoom Out (Ctrl - (Numpad) / Alt+Mousewheel)">
					<div class="geSprite geSprite-zoomout">
					</div>
				</a>
				<div class="geSeparator">
				</div>
				<a class="geButton mxDisabled" title="Undo (Ctrl+Z)">
					<div class="geSprite geSprite-undo">
					</div>
				</a>
				<a class="geButton mxDisabled" title="Redo (Ctrl+Y)">
					<div class="geSprite geSprite-redo">
					</div>
				</a>
				<div class="geSeparator">
				</div>
				<a class="geButton mxDisabled" title="Delete (Delete)">
					<div class="geSprite geSprite-delete">
					</div>
				</a>
				<div class="geSeparator">
				</div>
				<a class="geButton mxDisabled" title="To Front (Ctrl+Shift+F)">
					<div class="geSprite geSprite-tofront">
					</div>
				</a>
				<a class="geButton mxDisabled" title="To Back (Ctrl+Shift+B)">
					<div class="geSprite geSprite-toback">
					</div>
				</a>
				<div class="geSeparator">
				</div>
				<a class="geButton mxDisabled" title="Fill Color...">
					<div class="geSprite geSprite-fillcolor">
					</div>
				</a>
				<a class="geButton mxDisabled" title="Line Color...">
					<div class="geSprite geSprite-strokecolor">
					</div>
				</a>
				<a class="geButton mxDisabled" title="Shadow">
					<div class="geSprite geSprite-shadow">
					</div>
				</a>
				<div class="geSeparator">
				</div>
				<a class="geButton" title="Connection"
					style="white-space: nowrap; overflow: hidden; position: relative; width: 34px; ">
					<div class="geSprite geSprite-connection" style="margin-left:0px; margin-top:0px; ">
					</div>
					<img border="0" style="position: absolute; right: 4px; top: 5px; left: 24px; "
        src="https://www.draw.io/images/expanded.gif"
        valign="middle">
    </a>
					<a class="geButton" title="Waypoints"
						style="white-space: nowrap; overflow: hidden; position: relative; width: 34px; ">
						<div class="geSprite geSprite-orthogonal" style="margin-left:0px; margin-top:0px; ">
						</div>
						<img border="0" style="position: absolute; right: 4px; top: 5px; left: 24px; "
        src="https://www.draw.io/images/expanded.gif"
        valign="middle">
    </a>
						<div class="geSeparator">
						</div>
						<a class="geLabel" title="Insert (Doubleclick to insert text)"
							style="white-space: nowrap; overflow: hidden; position: relative; width: 28px; ">
							<div class="geSprite geSprite-plus" style="margin-left:-4px; margin-top:-3px; ">
							</div>
							<img border="0" style="position: absolute; right: 4px; top: 5px; left: 24px; "
        src="https://www.draw.io/images/expanded.gif"
        valign="middle">
    </a>
							<div class="geSeparator">
							</div>
							<a class="geButton" title="Table"
								style="position: relative; white-space: nowrap; overflow: hidden; width: 30px; ">
								<div class="geSprite geSprite-table" style="margin-left:-2px; ">
								</div>
								<img border="0" style="position: absolute; right: 4px; top: 5px; left: 22px; "
        src="https://www.draw.io/images/expanded.gif"
        valign="middle">
    </a>
	</div>
	<a title="Format Panel (Ctrl+Shift+P)" class="geButton"
		style="position: absolute; display: inline-block; top: 6px; right: 30px; padding: 2px; font-size: 14px; width: 16px; height: 16px; background-position: 50% 50%; background-repeat: no-repeat; background-image: url('https://www.draw.io/images/format-show.png' ); "></a>
	<a title="Fullscreen" class="geButton"
		style="position: absolute; display: inline-block; top: 6px; right: 50px; padding: 2px; font-size: 14px; width: 16px; height: 16px; background-position: 50% 50%; background-repeat: no-repeat; background-image: url('https://www.draw.io/images/fullscreen.png');"></a>
	<a title="Collapse/Expand" class="geButton"
		style="position: absolute; display: inline-block; width: 16px; height: 16px; color: rgb(102, 102, 102); top: 6px; right: 10px; padding: 2px; font-size: 14px; text-decoration: none; background-image: url('https://www.draw.io/images/chevron-up.png'); background-position: 50% 50%; background-repeat: no-repeat; "></a>
</div>