<div class="geMenubarContainer" style="top: 0px; left: 0px; right: 0px; height: 64px; ">
	<div class="geMenubar" style="position: absolute; padding-left: 59px; box-sizing: border-box; top: 34px; ">
		<a class="geItem">File</a>
		<a class="geItem">Edit</a>
		<a class="geItem">View</a>
		<a class="geItem">Arrange</a>
		<a class="geItem">Extras</a>
		<a class="geItem">Help</a>
		<a class="geItem geStatus"></a>
		<div style="display: inline-block; padding-right: 48px; position: absolute; right: 0px; "></div>
	</div>
	<a
		style="display: block; position: absolute; width: 32px; height: 36px; margin: 14px 0px 8px 16px; opacity: 0.85; border-radius: 3px; background-color: rgb(240, 135, 5); background-image: url('https://www.draw.io/images/drawlogo256.png'); background-position: center center; background-size: 100% 100%; background-repeat: no-repeat; transition: all 125ms linear 0s; cursor: pointer; "></a>
	<div
		style="position: absolute; right: 120px; left: 60px; top: 9px; height: 26px; display: block; overflow: hidden; text-overflow: ellipsis; ">
		<a title="Untitled Diagram.drawio - Rename" class="geItem"
			style="padding: 2px 8px; display: inline; font-size: 18px; white-space: nowrap; ">NOTE(摘要模板)</a>
	</div>
</div>

<app-toolbar></app-toolbar>