<div id="MathJax_Message" style="display: none;"></div>
<app-top-menu></app-top-menu>

<div
	style="touch-action: none; 	visibility: hidden; 	position: absolute; 	overflow: hidden; 	height: 1px; 	width: 1px; 	">
	<svg
		style="left: 0px; 	top: 0px; 	width: 100%; 	height: 100%; 	display: block; 	min-width: 6px; 	min-height: 5px; 	">
		<g>
			<g>
			</g>
			<g>
			</g>
			<g>
			</g>
			<g>
			</g>
		</g>
	</svg>
</div>
<app-sidebar></app-sidebar>
<!--
	<div class="geSidebarContainer geFormatContainer"
		style="right: 0px; 	z-index: 1; 	top: 103px; 	width: 240px; 	bottom: 0px; 	">
		<div style="white-space: nowrap; 	color: rgb(112, 112, 112); 	text-align: left; 	cursor: default; 	">
			<div class="geFormatSection"
				style="text-align: center; 	font-weight: bold; 	padding-top: 8px; 	font-size: 13px; 	border-width: 0px 0px 1px; 	border-style: solid; 	display: inline-block; 	height: 25px; 	overflow: hidden; 	width: 100%; 	">
				Diagram
				<img border="0"
        src="data:image/png; 	base64, iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAQMAAADaX5RTAAAABlBMVEV7mr3///+wksspAAAAAnRSTlP/AOW3MEoAAAAdSURBVAgdY9jXwCDDwNDRwHCwgeExmASygSL7GgB12QiqNHZZIwAAAABJRU5ErkJggg=="
        title="Hide"
        style="position: absolute; 	display: block; 	right: 0px; 	top: 8px; 	cursor: pointer; 	margin-top: 1px; 	margin-right: 17px; 	border: 1px solid transparent; 	padding: 1px; 	opacity: 0.5; 	">
    </div>
				<div class="geFormatSection" style="padding: 12px 0px 12px 18px; 	">
					<div
						style="padding: 0px 0px 6px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	font-weight: bold; 	">
						View
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" checked="" style="margin: 0px 6px 0px 0px; 	">
						<span>Grid
        </span>
						<button class="geColorBtn" style="position: absolute; 	margin-top: -4px; 	right: 20px; 	height: 22px; 	">
          <div style="width:36px; 	height:12px; 	margin:3px; 	border:1px solid black; 	background-color:#d0d0d0; 	">
          </div>
        </button>
						<input style="position: absolute; 	text-align: right; 	width: 38px; 	margin-top: -2px; 	right: 84px; 	">
						<div
							style="border-radius: 3px; 	border: 1px solid rgb(192, 192, 192); 	position: absolute; 	margin-top: -16px; 	right: 72px; 	">
							<div class="geBtnUp"
								style="border-bottom: 1px solid rgb(192, 192, 192); 	position: relative; 	height: 8px; 	width: 10px; 	">
							</div>
							<div class="geBtnDown"
								style="border: none; 	position: relative; 	height: 8px; 	width: 10px; 	">
							</div>
						</div>
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" checked="" style="margin: 0px 6px 0px 0px; 	">
						<span>Page View
        </span>
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" style="margin: 0px 6px 0px 0px; 	">
						<span>Background
        </span>
						<button class="geColorBtn"
          style="position: absolute; 	margin-top: -4px; 	right: 20px; 	height: 22px; 	display: none; 	">
          <div style="width:36px; 	height:12px; 	margin:3px; 	border:1px solid black; 	background-color:#ffffff; 	">
          </div>
        </button>
						<button class="geColorBtn"
          style="position: absolute; 	margin-top: -4px; 	padding-bottom: 2px; 	height: 22px; 	right: 72px; 	width: 56px; 	">Image
        </button>
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" style="margin: 0px 6px 0px 0px; 	">
						<span>Shadow
        </span>
					</div>
				</div>
				<div class="geFormatSection" style="padding: 12px 0px 12px 18px; 	">
					<div
						style="padding: 0px 0px 6px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	font-weight: bold; 	">
						Options
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" checked="" style="margin: 0px 6px 0px 0px; 	">
						<span>Connection Arrows
        </span>
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" checked="" style="margin: 0px 6px 0px 0px; 	">
						<span>Connection Points
        </span>
					</div>
					<div
						style="padding: 6px 0px 1px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	height: 18px; 	">
						<input type="checkbox" checked="" style="margin: 0px 6px 0px 0px; 	">
						<span>Guides
        </span>
					</div>
				</div>
				<div class="geFormatSection" style="padding: 12px 0px 12px 18px; 	">
					<div
						style="padding: 0px 0px 6px; 	white-space: nowrap; 	overflow: hidden; 	width: 200px; 	font-weight: bold; 	">
						Paper Size
					</div>
					<select style="margin-bottom: 8px; 	width: 202px; 	">
        <option value="letter">US-Letter (8,5" x 11")
        </option>
        <option value="legal">US-Legal (8,5" x 14")
        </option>
        <option value="tabloid">US-Tabloid (11" x 17")
        </option>
        <option value="executive">US-Executive (7" x 10")
        </option>
        <option value="a0">A0 (841 mm x 1189 mm)
        </option>
        <option value="a1">A1 (594 mm x 841 mm)
        </option>
        <option value="a2">A2 (420 mm x 594 mm)
        </option>
        <option value="a3">A3 (297 mm x 420 mm)
        </option>
        <option value="a4">A4 (210 mm x 297 mm)
        </option>
        <option value="a5">A5 (148 mm x 210 mm)
        </option>
        <option value="a6">A6 (105 mm x 148 mm)
        </option>
        <option value="a7">A7 (74 mm x 105 mm)
        </option>
        <option value="b4">B4 (250 mm x 353 mm)
        </option>
        <option value="b5">B5 (176 mm x 250 mm)
        </option>
        <option value="16-9">16:9 (1600 x 900)
        </option>
        <option value="16-10">16:10 (1920 x 1200)
        </option>
        <option value="4-3">4:3 (1600 x 1200)
        </option>
        <option value="custom">Custom
        </option>
      </select>
					<br>
					<div style="margin-left: 4px; 	width: 210px; 	height: 24px; 	">
						<input name="format-formatpanel" type="radio" value="portrait" checked="" style="margin-right: 6px; 	">
						<span style="max-width: 100px; 	">Portrait
        </span>
						<input name="format-formatpanel" type="radio" value="landscape"
          style="margin-left: 10px; 	margin-right: 6px; 	">
						<span style="width: 100px; 	">Landscape
        </span>
					</div>
					<div style="margin-left: 4px; 	width: 210px; 	height: 24px; 	display: none; 	">
						<input size="7" style="text-align: right; 	"> in x
						<input size="7" style="text-align: right; 	"> in
      </div>
					</div>
					<div class="geFormatSection" style="padding: 12px 0px 12px 18px; 	">
						<button title="Edit Data (Ctrl+M)" style="width: 202px; 	margin-bottom: 2px; 	">Edit Data
      </button>
						<br>
						<button title="Clear Default Style (Ctrl+Shift+R)" style="width: 202px; 	">Clear Default Style
      </button>
					</div>
				</div>
			</div>
-->
<app-diagram-container></app-diagram-container>
<app-format-container></app-format-container>
<app-pagetab></app-pagetab>