<div
  class="geTabContainer"
  style="position: absolute; white-space: nowrap; overflow: hidden; top:103px;height: 38px; left: 224px;  right: 0px;"
>
  <div
    style="position: relative; display: inline-block; vertical-align: top; height: 38px; white-space: nowrap; overflow: hidden; font-size: 13px; margin-left: 30px; "
  >
    <div
      title="Page-1 (djTwZoDZITLRaRHeHd7X) [1]"
      class="geActivePage"
      draggable="true"
      style="display: inline-block; white-space: nowrap; box-sizing: border-box; position: relative; overflow: hidden; text-align: center; margin-left: -1px; height: 38px; padding: 12px 4px 8px; border-width: 1px; border-style: none solid; border-color: rgb(232, 234, 237); border-image: initial; cursor: move; color: gray; max-width: 140px; width: 140px; text-overflow: ellipsis; background-color: rgb(255, 255, 255); "
    >
      Page-1
    </div>
  </div>
  <div
    title="Pages"
    style="display: inline-block; white-space: nowrap; box-sizing: border-box; position: absolute; overflow: hidden; text-align: center; margin-left: 0px; height: 38px; padding: 3px 4px 8px; border-width: 1px; border-style: none solid; border-color: rgb(232, 234, 237); border-image: initial; cursor: pointer; color: gray; line-height: 38px; width: 30px; top: 0px; left: 1px; "
  >
    <div
      class="geSprite geSprite-dots"
      style="display: inline-block; margin-top: 5px; width: 21px; height: 21px; opacity: 0.4; "
    ></div>
  </div>
  <div
    title="Insert Page"
    style="display: inline-block; white-space: nowrap; box-sizing: border-box; position: relative; overflow: hidden; text-align: center; margin-left: -1px; height: 38px; padding: 4px 4px 8px; border-width: 1px; border-style: none solid; border-color: rgb(232, 234, 237); border-image: initial; cursor: pointer; color: gray; line-height: 38px; width: 30px; "
  >
    <div
      class="geSprite geSprite-plus"
      style="display: inline-block; width: 21px; height: 21px; opacity: 0.4;"
    ></div>
  </div>
</div>
